.img-fluid {
max-width: 100%;
height: 400px;
}

h2 {

color: white;
padding-left: 90px;
font-size: 25px;

}

.p {

color: white;
padding-left: 90px;
font-size: 15px;

}

.box {

display: block;
background-color: white;
margin: 50px 0px 40px 220px;
width: 400px;
max-height: 700px;
border-radius: 7px;



}

@media only screen and (max-width: 600px) {

.box {

display: block;
background-color: white;
margin: 0px 20px 0px 20px;
width: 100%;
max-height: 600px;
border-radius: 7px;



}

h2 {

color: white;
padding-left: 10px;
font-size: 17px;

}

.p {

color: white;
padding-left: 10px;
font-size: 13px;
}

}

::placeholder {

color: gray;
font-weight: bold;
opacity: 1;

}
#login{
border-bottom: 3px solid gray;
}

#register{
border-bottom: 2px solid gray;font-weight:600;
}

#botton{
background-color: #485867;
}

#container-fluid{
background-color:#192c3f;
}

#image_text{
margin-top:7%;
}

#tab{
padding-top: 100px;
}

#form{
margin-top:3%;
}

.form-control {
display: block;
width: 100%;
height: calc(1.5em + 0.75rem + 18px);
padding: 0.375rem 0.75rem;
font-size: 1rem;
font-weight: 400;
line-height: 1.5;
color: #495057;
background-color: #fff;
background-clip: padding-box;
border: 1px solid #ced4da;
border-radius: 0.5rem;
transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}


label {

font-size: 13px;
}